USE [master]
GO
/****** Object:  Database [QuanCafe]    Script Date: 4/11/2020 2:26:34 PM ******/
CREATE DATABASE [QuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanCafe_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanCafe]
GO
/****** Object:  User [IIS APPPOOL\.NET v4.5]    Script Date: 4/11/2020 2:26:34 PM ******/
CREATE USER [IIS APPPOOL\.NET v4.5] FOR LOGIN [IIS APPPOOL\.NET v4.5] WITH DEFAULT_SCHEMA=[db_datareader]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\.NET v4.5]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\.NET v4.5]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\.NET v4.5]
GO
/****** Object:  UserDefinedFunction [dbo].[getNewIdDonHang]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy ID đơn hàng vừa thêm
create function [dbo].[getNewIdDonHang]() returns int
as
begin
	declare @id int
	select top 1 @id = ID from DONHANG order by ID desc
	return @id
end
GO
/****** Object:  UserDefinedFunction [dbo].[getNewIdNhapHang]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy ID Nhập hàng vừa mới thêm
create function [dbo].[getNewIdNhapHang] () returns int
as
begin
	declare @idNhapHang int
	select top 1 @idNhapHang = ID from NHAPHANG order by ID desc 
	return @idNhapHang
end
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[ANH] [nvarchar](200) NULL,
	[MOTA] [ntext] NULL,
	[NGAYTAO] [date] NULL,
	[HANGSX_ID] [int] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getLOAISPbyID]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Lấy loại sản phẩm theo id
create function [dbo].[getLOAISPbyID](@id int) 
returns table
	return select * from LOAISP where ID = @id

--Tạo sản phẩm mới
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KHOILUONG] [int] NULL,
	[ANH] [nvarchar](200) NULL,
	[MOTA] [ntext] NULL,
	[SOLUONG] [int] NULL,
	[LOAISP_ID] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getSanPhamById]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy sản phẩm theo idsanpham
create function [dbo].[getSanPhamById](@id int) returns table
	return (select * from SANPHAM where ID = @id)
GO
/****** Object:  UserDefinedFunction [dbo].[getSanPhamByIdLSP]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy các sản phẩm theo ID Loại sản phẩm
create function [dbo].[getSanPhamByIdLSP](@idLSP int) returns table
	return (select ID,KHOILUONG,ANH,MOTA,SOLUONG,LOAISP_ID from SANPHAM  where LOAISP_ID = @idLSP)
GO
/****** Object:  Table [dbo].[PRICE]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GIABAN] [int] NULL,
	[BATDAU] [date] NULL,
	[KETTHUC] [date] NULL,
	[SANPHAM_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getPriceBySanPham]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--lấy giá bán của sản phẩm hiện tại
create function [dbo].[getPriceBySanPham](@id int) returns table
	return select p.ID, p.GIABAN, p.BATDAU, p.KETTHUC, p.SANPHAM_ID from Price p join SANPHAM s on p.SANPHAM_ID = s.ID 
		where s.ID = @id and (p.BATDAU <= GETDATE() and p.KETTHUC >= GETDATE() or p.BATDAU <= GETDATE() and p.KETTHUC is null)
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDAT] [date] NULL,
	[TENNGUOINHAN] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI_ID] [int] NULL,
	[KHACHHANG_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[getDonHang]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Lấy Đơn hàng theo ID
create function [dbo].[getDonHang](@id int)
	returns table return select * from DONHANG where ID = @id
GO
/****** Object:  Table [dbo].[BAIBAO]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIBAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](200) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[SANPHAM_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 4/11/2020 2:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[SOSAO] [int] NULL,
	[SANPHAM_ID] [int] NULL,
	[KHACHHANG_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SANPHAM_ID] [int] NULL,
	[DONHANG_ID] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SANPHAM_ID] [int] NULL,
	[NHAPHANG_ID] [int] NULL,
	[SOLUONGNHAP] [int] NULL,
	[GIANHAP] [int] NULL,
	[SOLUONGCONLAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGSX]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[TENDANGNHAP] [varchar](30) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[QUYEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[NHACC_ID] [int] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGKE]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NULL,
	[SANPHAM_ID] [int] NULL,
	[SOLUONGBAN] [int] NULL,
	[DOANHTHU] [int] NULL,
	[LOINHUAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDH]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATHANG]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHITIETDH_ID] [int] NULL,
	[NHAPHANG_ID] [int] NULL,
	[SOLUONGXUAT] [int] NULL,
	[GIANHAP] [int] NULL,
	[GIABAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETDONHANG] ON 

INSERT [dbo].[CHITIETDONHANG] ([ID], [SANPHAM_ID], [DONHANG_ID], [SOLUONG], [DONGIA]) VALUES (1, 2, 1, 5, 100000)
INSERT [dbo].[CHITIETDONHANG] ([ID], [SANPHAM_ID], [DONHANG_ID], [SOLUONG], [DONGIA]) VALUES (2, 11, 1, 2, 550000)
INSERT [dbo].[CHITIETDONHANG] ([ID], [SANPHAM_ID], [DONHANG_ID], [SOLUONG], [DONGIA]) VALUES (3, 3, 2, 10, 150000)
SET IDENTITY_INSERT [dbo].[CHITIETDONHANG] OFF
SET IDENTITY_INSERT [dbo].[CHITIETNHAPHANG] ON 

INSERT [dbo].[CHITIETNHAPHANG] ([ID], [SANPHAM_ID], [NHAPHANG_ID], [SOLUONGNHAP], [GIANHAP], [SOLUONGCONLAI]) VALUES (1, 1, 1, 100, 40000, 96)
INSERT [dbo].[CHITIETNHAPHANG] ([ID], [SANPHAM_ID], [NHAPHANG_ID], [SOLUONGNHAP], [GIANHAP], [SOLUONGCONLAI]) VALUES (2, 2, 2, 100, 90000, 95)
INSERT [dbo].[CHITIETNHAPHANG] ([ID], [SANPHAM_ID], [NHAPHANG_ID], [SOLUONGNHAP], [GIANHAP], [SOLUONGCONLAI]) VALUES (3, 3, 3, 100, 140000, 90)
SET IDENTITY_INSERT [dbo].[CHITIETNHAPHANG] OFF
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([ID], [NGAYDAT], [TENNGUOINHAN], [SDT], [DIACHI], [TONGTIEN], [TRANGTHAI_ID], [KHACHHANG_ID]) VALUES (1, CAST(N'2019-03-03' AS Date), N'Tăng Đại Dương', N'0123456789', N'23 Lộc Hóa, Tp Nam Định, Nam Định', 1600000, 3, 2)
INSERT [dbo].[DONHANG] ([ID], [NGAYDAT], [TENNGUOINHAN], [SDT], [DIACHI], [TONGTIEN], [TRANGTHAI_ID], [KHACHHANG_ID]) VALUES (2, CAST(N'2019-04-03' AS Date), N'Trần Công Luận', N'0123456789', N'Nho Quan, Ninh Bình', 1500000, 3, 3)
INSERT [dbo].[DONHANG] ([ID], [NGAYDAT], [TENNGUOINHAN], [SDT], [DIACHI], [TONGTIEN], [TRANGTHAI_ID], [KHACHHANG_ID]) VALUES (3, CAST(N'2019-05-03' AS Date), N'Nguyễn Quý Thắng', N'0123456789', N'50 Làng Sen, Nam Đàn, Nghệ An', 25050000, 1, 4)
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
SET IDENTITY_INSERT [dbo].[HANGSX] ON 

INSERT [dbo].[HANGSX] ([ID], [TEN]) VALUES (1, N'Trung Nguyen')
INSERT [dbo].[HANGSX] ([ID], [TEN]) VALUES (2, N'Starbucks')
INSERT [dbo].[HANGSX] ([ID], [TEN]) VALUES (3, N'VinaCafe')
SET IDENTITY_INSERT [dbo].[HANGSX] OFF
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

INSERT [dbo].[LOAISP] ([ID], [TEN], [ANH], [MOTA], [NGAYTAO], [HANGSX_ID], [TRANGTHAI]) VALUES (1, N'Cafe1', N'/Resources/Image/1.jpg', N'<p>
	Sạch, tươi mới kết hợp với sự c&acirc;n bằng của hương thơm, vị chua, đắng c&ugrave;ng với vị ngọt tự nhi&ecirc;n</p>
', CAST(N'2019-03-02' AS Date), 1, N'Đang bán')
INSERT [dbo].[LOAISP] ([ID], [TEN], [ANH], [MOTA], [NGAYTAO], [HANGSX_ID], [TRANGTHAI]) VALUES (2, N'Cafe2', N'/Resources/Image/2.jpg', N'<p>
	<span data-mce-style="font-weight: 400;" style="font-weight: 400">Một hạt c&agrave; ph&ecirc; hội tụ đủ c&aacute;c yếu tố đặc biệt về hương v&agrave; vị</span></p>
', CAST(N'2019-03-02' AS Date), 1, N'Ngừng bán')
INSERT [dbo].[LOAISP] ([ID], [TEN], [ANH], [MOTA], [NGAYTAO], [HANGSX_ID], [TRANGTHAI]) VALUES (3, N'Cafe3', N'/Resources/Image/3.jpg', N'<p>
	<span data-mce-style="font-weight: 400;" style="font-weight: 400">Một hạt c&agrave; ph&ecirc; hội tụ đủ c&aacute;c yếu tố đặc biệt về hương v&agrave; vị</span></p>
', CAST(N'2019-03-02' AS Date), 1, N'Đang bán')
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([ID], [TEN], [TENDANGNHAP], [MATKHAU], [SDT], [DIACHI], [EMAIL], [QUYEN]) VALUES (1, N'Phạm Đức Long', N'longpham', N'123', N'0983481417', N'236 Hoàng Quốc Việt, Cầu Giấy, Hà Nội', N'long96nb@gmail.com', 1)
INSERT [dbo].[NGUOIDUNG] ([ID], [TEN], [TENDANGNHAP], [MATKHAU], [SDT], [DIACHI], [EMAIL], [QUYEN]) VALUES (2, N'Tăng Đại Dương', N'duongtang', N'123', N'0123456789', N'23 Lộc Hóa, Tp Nam Định, Nam Định', N'winsbu1997@gmail.com', 0)
INSERT [dbo].[NGUOIDUNG] ([ID], [TEN], [TENDANGNHAP], [MATKHAU], [SDT], [DIACHI], [EMAIL], [QUYEN]) VALUES (3, N'Trần Công Luận', N'luantran', N'12', N'0123456789', N'Nho Quan, Ninh Bình', N'luan@gmial.com', 0)
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([ID], [TEN], [DIACHI], [SDT]) VALUES (1, N'Đại lý Cà phê Trung Nguyên Hà Nội', N'236 Hoàng Quốc Việt, Cầu Giấy, Hà Nội', N'0123456789')
INSERT [dbo].[NHACUNGCAP] ([ID], [TEN], [DIACHI], [SDT]) VALUES (2, N'Starbucks Việt Nam', N'50 Bạch Mai, Hai Bà Trưng, Hà Nội', N'0123456789')
INSERT [dbo].[NHACUNGCAP] ([ID], [TEN], [DIACHI], [SDT]) VALUES (3, N'Đại lý VinaCafe Hà Nội', N'12 Cầu Diễn, Bắc Từ Liêm, Hà Nội', N'0123456789')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
SET IDENTITY_INSERT [dbo].[NHAPHANG] ON 

INSERT [dbo].[NHAPHANG] ([ID], [NGAYNHAP], [NHACC_ID], [TONGTIEN]) VALUES (1, CAST(N'2019-03-02' AS Date), 1, 4000000)
INSERT [dbo].[NHAPHANG] ([ID], [NGAYNHAP], [NHACC_ID], [TONGTIEN]) VALUES (2, CAST(N'2019-03-02' AS Date), 1, 9000000)
INSERT [dbo].[NHAPHANG] ([ID], [NGAYNHAP], [NHACC_ID], [TONGTIEN]) VALUES (3, CAST(N'2019-03-02' AS Date), 1, 14000000)
SET IDENTITY_INSERT [dbo].[NHAPHANG] OFF
SET IDENTITY_INSERT [dbo].[PRICE] ON 

INSERT [dbo].[PRICE] ([ID], [GIABAN], [BATDAU], [KETTHUC], [SANPHAM_ID]) VALUES (1, 50000, CAST(N'2019-03-02' AS Date), NULL, 1)
INSERT [dbo].[PRICE] ([ID], [GIABAN], [BATDAU], [KETTHUC], [SANPHAM_ID]) VALUES (2, 100000, CAST(N'2019-03-02' AS Date), NULL, 2)
INSERT [dbo].[PRICE] ([ID], [GIABAN], [BATDAU], [KETTHUC], [SANPHAM_ID]) VALUES (3, 150000, CAST(N'2019-03-02' AS Date), NULL, 3)
SET IDENTITY_INSERT [dbo].[PRICE] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID], [KHOILUONG], [ANH], [MOTA], [SOLUONG], [LOAISP_ID], [TRANGTHAI]) VALUES (1, 100, N'/Resources/Image/1.jpg', N'<p>tốt</p>', 376, 1, N'Đang bán')
INSERT [dbo].[SANPHAM] ([ID], [KHOILUONG], [ANH], [MOTA], [SOLUONG], [LOAISP_ID], [TRANGTHAI]) VALUES (2, 100, N'/Resources/Image/2.jpg', N'<p>tốt</p>', 290, 2, N'Đang bán')
INSERT [dbo].[SANPHAM] ([ID], [KHOILUONG], [ANH], [MOTA], [SOLUONG], [LOAISP_ID], [TRANGTHAI]) VALUES (3, 100, N'/Resources/Image/3.jpg', N'<p>tốt</p>', 100, 3, N'Đang bán')
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[THONGKE] ON 

INSERT [dbo].[THONGKE] ([ID], [NGAY], [SANPHAM_ID], [SOLUONGBAN], [DOANHTHU], [LOINHUAN]) VALUES (1, CAST(N'2019-03-03' AS Date), 2, 5, 500000, 50000)
INSERT [dbo].[THONGKE] ([ID], [NGAY], [SANPHAM_ID], [SOLUONGBAN], [DOANHTHU], [LOINHUAN]) VALUES (2, CAST(N'2019-03-03' AS Date), 11, 2, 1100000, 20000)
INSERT [dbo].[THONGKE] ([ID], [NGAY], [SANPHAM_ID], [SOLUONGBAN], [DOANHTHU], [LOINHUAN]) VALUES (3, CAST(N'2019-04-03' AS Date), 3, 10, 1500000, 100000)
SET IDENTITY_INSERT [dbo].[THONGKE] OFF
SET IDENTITY_INSERT [dbo].[TRANGTHAIDH] ON 

INSERT [dbo].[TRANGTHAIDH] ([ID], [TEN]) VALUES (1, N'Đang chờ xử lý')
INSERT [dbo].[TRANGTHAIDH] ([ID], [TEN]) VALUES (2, N'Đã xử lý')
INSERT [dbo].[TRANGTHAIDH] ([ID], [TEN]) VALUES (3, N'Đã nhận')
SET IDENTITY_INSERT [dbo].[TRANGTHAIDH] OFF
SET IDENTITY_INSERT [dbo].[XUATHANG] ON 

INSERT [dbo].[XUATHANG] ([ID], [CHITIETDH_ID], [NHAPHANG_ID], [SOLUONGXUAT], [GIANHAP], [GIABAN]) VALUES (1, 3, 3, 10, 140000, 150000)
INSERT [dbo].[XUATHANG] ([ID], [CHITIETDH_ID], [NHAPHANG_ID], [SOLUONGXUAT], [GIANHAP], [GIABAN]) VALUES (2, 1, 2, 5, 90000, 100000)
INSERT [dbo].[XUATHANG] ([ID], [CHITIETDH_ID], [NHAPHANG_ID], [SOLUONGXUAT], [GIANHAP], [GIABAN]) VALUES (3, 2, 11, 2, 540000, 550000)
SET IDENTITY_INSERT [dbo].[XUATHANG] OFF
ALTER TABLE [dbo].[BAIBAO]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD FOREIGN KEY([KHACHHANG_ID])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([DONHANG_ID])
REFERENCES [dbo].[DONHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD FOREIGN KEY([NHAPHANG_ID])
REFERENCES [dbo].[NHAPHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([KHACHHANG_ID])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([TRANGTHAI_ID])
REFERENCES [dbo].[TRANGTHAIDH] ([ID])
GO
ALTER TABLE [dbo].[LOAISP]  WITH CHECK ADD FOREIGN KEY([HANGSX_ID])
REFERENCES [dbo].[HANGSX] ([ID])
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([NHACC_ID])
REFERENCES [dbo].[NHACUNGCAP] ([ID])
GO
ALTER TABLE [dbo].[PRICE]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([LOAISP_ID])
REFERENCES [dbo].[LOAISP] ([ID])
GO
ALTER TABLE [dbo].[THONGKE]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[XUATHANG]  WITH CHECK ADD FOREIGN KEY([CHITIETDH_ID])
REFERENCES [dbo].[CHITIETDONHANG] ([ID])
GO
ALTER TABLE [dbo].[XUATHANG]  WITH CHECK ADD  CONSTRAINT [FK_XUATHANG_CHITIETNHAPHANG] FOREIGN KEY([NHAPHANG_ID])
REFERENCES [dbo].[CHITIETNHAPHANG] ([ID])
GO
ALTER TABLE [dbo].[XUATHANG] CHECK CONSTRAINT [FK_XUATHANG_CHITIETNHAPHANG]
GO
/****** Object:  StoredProcedure [dbo].[deleteLOAISP]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa Loại sản phẩm
create proc [dbo].[deleteLOAISP] (@id int)
as
begin
	update LOAISP
	set TRANGTHAI = N'Ngừng bán' 
	where ID=@id
	update SANPHAM
	set TRANGTHAI = N'Ngừng bán'
	where LOAISP_ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[deleteSANPHAM]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xóa sản phẩm
create proc [dbo].[deleteSANPHAM] (@id int)
as
begin
	update SANPHAM
	set TRANGTHAI = N'Ngừng bán'
	where ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[insertCHITIETNHAPHANG]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Nhập chi tiết nhập hàng--
create proc [dbo].[insertCHITIETNHAPHANG] (@idSanPham int, @idNhapHang int, @soluongnhap int, @gianhap int)
as
begin
	insert into CHITIETNHAPHANG
	values (@idSanPham, @idNhapHang, @soluongnhap, @gianhap, @soluongnhap)
end
GO
/****** Object:  StoredProcedure [dbo].[insertDonHang]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Thêm mới đơn hàng
Create proc [dbo].[insertDonHang](@nguoinhan nvarchar(50), @sdt varchar(15), @diachi nvarchar(100), @idKH int)
as
begin
	insert into DONHANG
		values (GETDATE(), @nguoinhan, @sdt, @diachi, 0, 1, @idKH)
end
GO
/****** Object:  StoredProcedure [dbo].[insertHSX]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm hãng sản xuất--
create proc [dbo].[insertHSX](@ten nvarchar(50))
as
begin
	insert into HANGSX values (@ten)
end
GO
/****** Object:  StoredProcedure [dbo].[insertLOAISP]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertLOAISP] (@ten nvarchar(50), @anh nvarchar(200), @mota ntext, @ngaytao date, @idhang int, @trangthai nvarchar(20))
as
begin
	insert into LOAISP
	values (@ten, @anh, @mota, @ngaytao, @idhang, @trangthai)
end
GO
/****** Object:  StoredProcedure [dbo].[insertNCC]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Thêm nhà cung cấp---
create proc [dbo].[insertNCC] (@ten nvarchar(50), @diachi nvarchar(100), @sdt varchar(15))
as
begin
	insert into NHACUNGCAP values (@ten, @diachi, @sdt)
end
GO
/****** Object:  StoredProcedure [dbo].[insertNhaphang]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insertNhaphang] (@idNCC int)
as
begin
	insert into NHAPHANG values(GETDATE(), @idNCC, 0 )
end
GO
/****** Object:  StoredProcedure [dbo].[InsertPrice]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Thêm giá  cho sản phẩm mới
Create proc [dbo].[InsertPrice](@idSP int, @giaban int)
as
begin
	insert into PRICE values(@giaban, GETDATE(), NULL, @idSP)
end
GO
/****** Object:  StoredProcedure [dbo].[insertSANPHAM]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertSANPHAM] (@khoiluong int, @anh nvarchar(200), @mota ntext, @soluong int, @idloaisp int)
as
begin
	insert into SANPHAM values(@khoiluong, @anh, @mota, @soluong,@idloaisp,N'Đang bán')
end
GO
/****** Object:  StoredProcedure [dbo].[insertXuatHang]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Xuất hàng
create proc [dbo].[insertXuatHang](@idCTNhapHang int, @idCTDonHang int, @soluongxuat int, @gianhap int, @giaban int)
as
begin
	insert into XUATHANG 
		values (@idCTDonHang, @idCTNhapHang, @soluongxuat, @gianhap, @giaban)
end
GO
/****** Object:  StoredProcedure [dbo].[updateLOAISP]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateLOAISP] (@id int, @ten nvarchar(50), @anh nvarchar(200), @mota ntext, @ngaytao date, @idhang int, @trangthai nvarchar(20))
as
begin
	update LOAISP
	set TEN = @ten, ANH = @anh, MOTA = @mota, NGAYTAO = @ngaytao, HANGSX_ID = @idhang, TRANGTHAI = @trangthai
	where ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrice]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Update giá sản phẩm
Create proc [dbo].[UpdatePrice](@idSP int, @giaban int)
as
begin
	declare @giacu int, @idPrice int
	select @giacu = GIABAN, @idPrice = ID from dbo.getPriceBySanPham(@idSP)
	if (@giaban != @giacu)
	begin
		update PRICE
		set KETTHUC = GETDATE() - 1
		where ID = @idPrice
		exec InsertPrice @idSP,@giaban
	end
end
GO
/****** Object:  StoredProcedure [dbo].[updateSANPHAM]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Update thông tin sản phẩm
create proc [dbo].[updateSANPHAM] (@id int, @khoiluong int, @anh nvarchar(200), @mota ntext, @soluong int, @idloaisp int)
as
begin
	update SANPHAM 
	set KHOILUONG = @khoiluong, ANH = @anh, MOTA = @mota, SOLUONG = @soluong, LOAISP_ID = @idloaisp
	where ID = @id
end
GO
/****** Object:  StoredProcedure [dbo].[updateTrangThaiDH]    Script Date: 4/11/2020 2:26:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Update trạng thái đơn hàng
Create proc [dbo].[updateTrangThaiDH](@idDH int, @idTrangThaiMoi int)
as
begin
	declare @idCTDH int
	if (@idTrangThaiMoi = 3)
		begin
			declare @idSP int, @ngaydat date
			select @ngaydat = NGAYDAT from DONHANG where ID = @idDH
			declare cursorCTDH cursor for
				select ID, SANPHAM_ID from CHITIETDONHANG where DONHANG_ID = @idDH
			open cursorCTDH
			FETCH NEXT FROM cursorCTDH into @idCTDH, @idSP
			WHILE @@FETCH_STATUS = 0
			BEGIN
				declare @sl int, @gianhap int, @giaban int, @doanhthu int, @loinhuan int
				declare cursorXH cursor for select SOLUONGXUAT, GIABAN, GIANHAP from XUATHANG where CHITIETDH_ID = @idCTDH
				open cursorXH
				FETCH NEXT FROM cursorXH into @sl, @giaban, @gianhap
				WHILE @@FETCH_STATUS = 0
				BEGIN
					declare @count int
					select @count = count(ID) from THONGKE where NGAY = @ngaydat and SANPHAM_ID = @idSP
					if (@count = 0)
						begin
							set @doanhthu = @sl*@giaban
							set @loinhuan = @sl*(@giaban-@gianhap)
							insert into THONGKE values (@ngaydat, @idSP, @sl, @doanhthu, @loinhuan)
						end
					else
						begin
							select @doanhthu = DOANHTHU, @loinhuan = LOINHUAN from THONGKE
									where NGAY = @ngaydat and SANPHAM_ID = @idSP
							set @doanhthu = @doanhthu + @sl*@giaban
							set @loinhuan = @loinhuan + @sl*(@giaban-@gianhap)
							update THONGKE
							set SOLUONGBAN = SOLUONGBAN + @sl, DOANHTHU = @doanhthu, LOINHUAN = @loinhuan
							where NGAY = @ngaydat and SANPHAM_ID = @idSP
						end
					FETCH NEXT FROM cursorXH into @sl, @giaban, @gianhap
				END
				close cursorXH
				deallocate cursorXH
				FETCH NEXT FROM cursorCTDH into @idCTDH, @idSP
			END
			close cursorCTDH
			deallocate cursorCTDH
			update DONHANG
			set TRANGTHAI_ID = @idTrangThaiMoi
			where ID = @idDH
		end
	else if (@idTrangThaiMoi = 4)
		begin
			declare cursorCTDH cursor for
				select ID from CHITIETDONHANG where DONHANG_ID = @idDH
			open cursorCTDH
			FETCH NEXT FROM cursorCTDH into @idCTDH
			declare @idXH int
			WHILE @@FETCH_STATUS = 0
			begin
				select @idXH = ID from XUATHANG
					where CHITIETDH_ID = @idCTDH
				delete XUATHANG where ID = @idXH
				FETCH NEXT FROM cursorCTDH into @idCTDH
			end
			close cursorCTDH
			deallocate cursorCTDH
			update DONHANG
			set TRANGTHAI_ID = @idTrangThaiMoi
			where ID = @idDH
		end
	else
		begin
			update DONHANG
			set TRANGTHAI_ID = @idTrangThaiMoi
			where ID = @idDH
		end
end
GO
USE [master]
GO
